@using RazorLight
@using InfoTrack.Cdd.Infrastructure.Utils
@inherits TemplatePage<object>

<div class="footer">
    @switch (In8nHelper.Region)
    {
        case "UK":
            await IncludeAsync("Shared/_FooterUK.cshtml");
            break;
        case "US":
            await IncludeAsync("Shared/_FooterUS.cshtml");
            break;
        case "AU":
        default:
            await IncludeAsync("Shared/_FooterAU.cshtml");
            break;
    }
</div>