!obj/Docker/publish/*
!obj/Docker/empty/

.git/

.vs/
*/.vs/
*/*/.vs/

.vscode/
*/.vscode/
*/*/.vscode/

bin/
*/bin/
*/*/bin/
*/*/*/bin/

obj/
*/obj/
*/*/obj/
*/*/*/obj/

*/packages/
*/*/packages/
*/*/*/packages/

dist/
*/dist/
*/*/dist/
*/*/*/dist/

node_modules/
*/node_modules/
*/*/node_modules/
wwwroot/node_modules/