<!DOCTYPE html>
<html>
  <head>
    <!--Start: Layout replaced -->
    <script src="/app/proxy-assets/zenith-layout/noSidebar"></script>
    <!--End Layout replaced -->
    <!--Start: Conf replaced -->
    <script>
      // window.__HS_ENV = <%= htmlWebpackPlugin.options.hsEnv %>;
    </script>
    <!--End Conf replaced -->

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=10" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="icon" href="/service/cdd/static/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />

  </head>

  <body>
    <main id="root"></main>
  </body>
</html>
